/* ===================== DEFINITION OF VARIABLES ===================== */
:root {
  --white-color: #fff;
  --black-color: #000;
  --primary-color: #eee;
  --second-color: #f0f9ff;
  --text-color: #333;
  --border-color: #e5e6e7;
  --invalid-color: #b92326;
  --valid-color: #8bc34a;
  --label-color: #a5a6a7;
  --placeholder-color: #a5a6a7d2;
  --button-color: #999;
  --button-bg: #06b6d4;
}

/* ===================== GENERALS STYLES (AND ANOTHER SECTIONS) ===================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, Helvetica, Arial, sans-serif;
}

html {
  font-size: 10px;
  color: li;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--primary-color);
}

p {
  position: relative;
}

input:required + span::after {
  content: "*";
  position: absolute;
  top: -0.7rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--black-color);
}

.container__button:active,
.dialog__close:active,
.form__submit:active,
.book__remove:active {
  transform: scale(0.9);
  transition: 0.5s;
}

/* ===================== HEADER ===================== */
.header-container {
  display: flex;
  width: 100%;
  padding: 0 4rem;
  background-color: var(--white-color);
  box-shadow: 0 2px 5px rgb(0 0 0 / 0.2);
}

/* ===================== LOGO ===================== */
.container__logo {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: var(--black-color);
  text-decoration: none;
}

.logo__title {
  font-size: 4rem;
  font-weight: bold;
}

.logo__icon {
  max-width: 3rem;
  height: 3rem;
  transform: translateY(0.3rem);
}

/* ===================== NAVBAR ===================== */
.container__navbar {
  margin-left: auto;
  font-size: 2rem;
}

.navbar__ul {
  display: flex;
  height: 100%;
  list-style: none;
}

.navbar__li {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.navbar__li:hover {
  background-color: var(--text-color);
}

.navbar__link {
  color: var(--black-color);
  text-decoration: none;
}

.navbar__li:hover .navbar__link {
  color: var(--white-color);
}

/* ===================== MAIN ===================== */
.main-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  padding: 2rem 0;
}

.container__book {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 420px;
  gap: 1.5rem;
  background-position: center;
  background-size: cover;
}

.book {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 1.5rem;
  background-color: #d11d24;
  overflow: hidden;
}

.book__remove {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  background-image: url("../icons/close-box.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.book::before {
  content: "";
  display: block;
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  width: 1.3rem;
  height: 1.3rem;
  background-color: var(--white-color);
}

.book__main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.book__title {
  font-size: 3rem;
  font-weight: bold;
  padding: 0;
  padding-left: 1rem;
  color: var(--white-color);
}

.book__author {
  font-size: 1.5rem;
  padding-left: 1rem;
  color: var(--text-color);
}

.book__footer {
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  font-weight: bold;
  padding: 1rem;
  color: var(--white-color);
}

.book__read {
  display: grid;
  place-content: center;
  position: absolute;
  top: 1.3rem;
  left: 5rem;
  -webkit-appearance: none;
  appearance: none;
  width: 1.3rem;
  height: 1.3rem;
  background-color: var(--text-color);
  border: 1px solid #808080;
  color: var(--white-color);
  cursor: pointer;
  vertical-align: -2px;
}

.book__read::before {
  content: "";
  width: 0.7rem;
  height: 0.7rem;
  box-shadow: inset 10px 10px var(--primary-color);
  transform: scale(0);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transition: transform 120ms ease-in-out;
}

.book__read:checked::before {
  transform: scale(1);
}

.container__button {
  align-self: center;
  position: relative;
  width: 10rem;
  height: 3rem;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 1.5rem 0;
  background-color: rgb(45 45 45 / 1);
  border: none;
  border-radius: 50px;
  color: var(--button-color);
  cursor: pointer;
  text-align: center;
  line-height: 1.5;
  overflow: hidden;
  transition: 0.5s;
}

.container__button:hover {
  color: var(--primary-color);
  text-shadow: 0 0 15px var(--primary-color), 0 0 40px var(--primary-color);
}

.container__button span {
  position: relative;
  z-index: 1;
}

.container__button::before {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  width: 20rem;
  height: 20rem;
  background: radial-gradient(var(--white-color), transparent, transparent);
  opacity: 0;
  transition: 0.5s, top 0s, left 0s;
}

.container__button:hover::before {
  opacity: 1;
}

.container__button::after {
  content: "";
  position: absolute;
  inset: 2px;
  background-color: rgb(45 45 45 / 0.8);
  border-radius: 48px;
}

/* ===================== DIALOG ===================== */
.container__dialog::backdrop {
  background-color: rgb(0 0 0 / 0.22);
}

.container__dialog {
  position: relative;
  top: -100%;
  left: 50%;
  max-width: 95%;
  width: 40rem;
  border: none;
  transform: translate(-50%, -50%);
  transition: top 0.5s ease-in-out;
}

.dialog__opening {
  top: 50%;
}

.dialog__close {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  cursor: pointer;
  border: none;
  z-index: 1;
}

.dialog__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  padding: 3rem 2rem;
  background-color: var(--white-color);
}

.dialog__form p {
  margin-bottom: 2rem;
}

.form__title {
  font-size: 2.5rem;
  text-align: center;
}

.form__input {
  position: relative;
  width: 100%;
  font-size: 1.8rem;
  margin-top: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  outline: none;
}

.form__input:focus {
  background-color: var(--white-color);
  border: 1px solid var(--border-color);
}

.form__label {
  position: absolute;
  top: 1.9rem;
  left: 0.6rem;
  width: 100%;
  color: var(--label-color);
  opacity: 0;
  transition: all 300ms linear;
  pointer-events: none;
}

.form__input:focus ~ label,
.form__input:not(:placeholder-shown) ~ label {
  top: -1rem;
  left: 0;
  opacity: 1;
  font-size: 1.3rem;
  z-index: 1;
}

.form__input::-webkit-input-placeholder {
  font-size: 1.2rem;
  color: var(--placeholder-color);
  text-transform: uppercase;
}

.form__input::-moz-input-placeholder {
  font-size: 1.2rem;
  color: var(--placeholder-color);
  text-transform: uppercase;
}

.form__input::placeholder {
  font-size: 1.2rem;
  color: var(--placeholder-color);
  text-transform: uppercase;
}

.form__input:focus::-webkit-input-placeholder {
  color: transparent;
}

.form__input:focus::-moz-input-placeholder {
  color: transparent;
}

.form__input:focus::placeholder {
  color: transparent;
}

.form__input:focus:invalid {
  border: 1px solid var(--invalid-color);
  box-shadow: 0 0 2px 2px rgb(185 35 38 / 0.25);
}

.form__input:invalid + span::after {
  color: var(--invalid-color);
}

.form__input:invalid ~ label {
  color: var(--invalid-color);
}

.form__input:focus:invalid + span::after {
  color: var(--invalid-color);
}

.form__input:focus:valid {
  border: 1px solid var(--valid-color);
  box-shadow: 0 0 2px 2px rgba(139, 195, 74, 0.25);
}

.form__input:valid + span::after {
  color: var(--valid-color);
}

.form__input:valid ~ label {
  color: var(--valid-color);
}

.form__input:placeholder-shown {
  border: 1px solid var(--border-color);
}

.form__input:placeholder-shown + span::after {
  color: var(--black-color);
}

.form__error {
  display: block;
  width: 100%;
  font-size: 1.3rem;
  padding: 0;
  background-color: #900;
  border-radius: 0 0 5px 5px;
  color: var(--white-color);
}

.active {
  padding: 0.3em;
}

.form__submit {
  position: relative;
  width: 100%;
  margin: auto;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: var(--button-bg);
  border: none;
  color: var(--white-color);
  cursor: pointer;
  letter-spacing: 1px;
  line-height: 1.3;
}
